[Desktop Entry]
Type=Application
Name=Template
Comment=this is a template app
Exec=/opt/Template/Template
Icon=/opt/Template/Template
Terminal=false
Categories=Office;
