name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [ self-hosted, linux, x64 ]
    steps:
    - uses: actions/checkout@v3
    - name: configure and make
      run: |
        mkdir build && cd build && qmake .. && make -j$(nproc) && mv Template ../
        cd .. && rm -rf build && mkdir -p pack/opt/Template
        cp Template ./pack/opt/Template && cp Template.desktop ./pack/opt/Template
        cp Template.png ./pack/opt/Template
    - name: build app
      run: |
        cd pack/opt/Template && linuxdeployqt ./Template.desktop -appimage -verbose=1 && ls
