name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [ self-hosted, linux, x64 ]
    steps:
    - uses: actions/checkout@v3
    - name: configure and make
      run: |
        mkdir build && cd build && qmake .. && make -j$(nproc) && mv Template ../
        cd .. && rm -rf build && mkdir -p pack/usr/share/icons/hicolor/256x256/apps && mkdir -p pack/usr/bin
        mkdir -p pack/usr/lib && mkdir -p pack/usr/share/applications
        mv Template ./pack/usr/bin && cp ./require/Template.desktop ./pack/usr/share/applications
        cp ./require/Template.png ./pack/usr/share/icons/hicolor/256x256/apps
    - name: build app
      run: |
        cd pack/usr/share/applications/ && linuxdeployqt ./Template.desktop -appimage -verbose=1 && ls
        mv pack/usr/share/applications/Template-* ./Template-app && mv pack/Template.desktop ./
        rm -rf pack && ls
    - name: build deb
      run: |
        ls && mkdir pack
