name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [ self-hosted, linux, x64 ]
    steps:
    - uses: actions/checkout@v3
    - name: configure
      run: |
        ls && mkdir build && cd build
        qmake .. && make -j$(nproc) && mv Template ../
        rm -rf build && ls
