name: Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: [ self-hosted, linux, x64 ]
    steps:
    - uses: actions/checkout@v3
    - name: configure and make
      run: |
        mkdir build && cd build && qmake .. && make -j$(nproc) && mv Template ../
        cd .. && rm -rf build && mkdir -p pack/usr/share/icons/hicolor/256x256/apps && mkdir -p pack/usr/bin
        mkdir -p pack/usr/lib && mkdir -p pack/usr/share/applications
        mv Template ./pack/usr/bin && cp ./require/Template.desktop ./pack/usr/share/applications
        cp ./require/Template.png ./pack/usr/share/icons/hicolor/256x256/apps
    - name: build app
      run: |
        cd pack/usr/share/applications/ && linuxdeployqt ./Template.desktop -appimage -verbose=1
        cd ../../../../ && mv pack/usr/share/applications/Template-* ./Template-app
        mv pack/Template.desktop ./ && rm -rf pack 
        sed -i 's/hicolor/256x256/apps/Template/hicolor/256x256/apps/Template.png/g' Template.desktop
    - name: build deb
      run: |
        mkdir -p pack/usr/share/icons/hicolor/256x256/apps && mkdir -p pack/usr/share/applications
        mkdir -p pack/DEBIAN && mkdir -p pack/usr/bin && mv Template-app pack/usr/bin/Template
        mv Template.desktop ./pack/usr/share/applications && cp ./require/Template.png ./pack/usr/share/icons/hicolor/256x256/apps
        cp ./require/control ./pack/DEBIAN && cp ./require/postinst ./pack/DEBIAN
        cd pack && dpkg -b . Template.deb && mv Template.deb ../ && rm -rf pack
